<!--
 Author: sveera
 -->
<app-abstract-template>
  <table class="liveLogMenuPanel">
    <thead>
      <tr>
        <th colspan="2">Selected TCP Plugin Service for log monitering :
          <span>{{manufacturer}} {{modelId}} {{version}} </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="button" value="Go Back to Dashboard" (click)="goBackToDashboard()" />
        </td>
        <td>
          <input type="button" value="Clear Logs" (click)="clearLogs()" />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="logConsole">
    <p *ngFor="let logMessage of liveLogMessages">{{logMessage}}</p>
  </div>
</app-abstract-template>