<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- Rolling File Appender -->
		<RollingFile name="TRINETRA_DC">
			<FileName>${sys:jboss.server.log.dir}/trinetraDC.log</FileName>
			<FilePattern>${sys:jboss.server.log.dir}/trinetraDC.%d{yyyy-MM-dd-hh-mm}.%i.log.zip</FilePattern>
			<PatternLayout>
				<Pattern>%d %-5p (%F:%L) - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.hpe.iot.dc" level="trace" />
		<Logger name="org.springframework" level="error" />
		<Logger name="org.apache.activemq" level="warn" />
		<Logger name="org.apache" level="warn" />
		<Root level="warn">
			<AppenderRef ref="TRINETRA_DC" />
		</Root>
	</Loggers>
</Configuration>